<h1 class="text-center">Breaking Stuff</h1>
<p class="text-center lead">
  Entering the page with a hash fragment already set doesn't know to scroll after data loads
</p>

<ng-template #noDinos>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</ng-template>

<ng-container *ngIf="dinoList$ | async as dinoList; else noDinos">
  <div
    *ngFor="let dino of dinoList"
    id="{{ dino.name | lowercase }}"
    class="py-4 my-4">
    <a
      routerLink="/targetlinks"
      fragment="{{ dino.name | lowercase }}">
      <h3>{{ dino.name }}</h3>
    </a>
  </div>
</ng-container>
