<h1 class="text-center">DINOSAURS</h1>
<p class="text-center lead">
  Async Pipe with template reference variables, NgIfElse, AfterViewInit, and Content Projection
</p>

<ng-template #noDinos>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</ng-template>

<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <div
    *ngFor="let dino of dinoList"
    id="{{dino.name | lowercase}}"
    #dinoElement>
    <app-dino-content [dino]="dino">
      <a
        [routerLink]="['/final']"
        fragment="{{dino.name | lowercase}}"
        (click)="scrollToAnchor(dinoElement)">{{ dino.name }}</a>
    </app-dino-content>
  </div>
</div>
