<h1 class="text-center">Lifecycle Hooks</h1>
<p class="text-center lead">
  Exploring lifecycle hooks in a child component with inputs
</p>

<ng-template #noDinos>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="errorList$ | async"></app-error>
</ng-template>

<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <app-dino-content-hooks [dino]="getDino(dinoList, 'Giganotosaurus')">
    <a class="dinoName">{{ getDino(dinoList, 'Giganotosaurus').name }}</a>
    <span class="icon" *ngIf="getDino(dinoList, 'Giganotosaurus').favorite">🌟</span>
    <p class="notes">
      aka "Chickennuggetsaurus"
    </p>
  </app-dino-content-hooks>
</div>
