<h1 class="text-center">Dynamic Templates III</h1>
<p class="text-center lead">
  OnPush change detection detects changes to inputs by passing new references
</p>

<h2 class="text-center">Featured</h2>
<app-dino-content-onpush [dino]="featuredDino">
  <a href="http://www.jpost.com/Israel-News/Israeli-geologists-find-unprecedented-85-million-year-old-reptile-remains-390633">
    {{ featuredDino.name }}
  </a>
  <span class="icon">🌊</span>
  <p class="notes">
    An 85-million-year-old Elasmosaurus fossil was discovered in Israel.
  </p>
</app-dino-content-onpush>

<h2 class="text-center pt-2">Dinosaurs</h2>
<ng-template #noDinos>
  <app-error *ngIf="error"></app-error>
  <app-loading *ngIf="loading"></app-loading>
</ng-template>

<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <div
    *ngFor="let dino of dinoList"
    id="{{dino.name | lowercase}}"
    #dinoElement>
    <app-dino-content-onpush
      [dino]="dino"
      [showFavBtn]="true"
      (favBtnClicked)="onFavEvent($event)">
      <a
        [routerLink]="['/onpush-works']"
        fragment="{{dino.name | lowercase}}">{{ dino.name }}</a>
      <span class="icon" *ngIf="dino.favorite">
        🌟
      </span>
      <p *ngIf="dino.name === 'Giganotosaurus'">
        aka "Chickennuggetsaurus"
      </p>
    </app-dino-content-onpush>
  </div>
</div>
