<h1 class="text-center pb-4">Components: Life Beyond Init and Destroy</h1>

<ul class="list-group">
  <li class="list-group-item">
    1. <a routerLink="/start">Classic Subscription: Subscribe, OnInit, OnDestroy</a>
  </li>
  <li class="list-group-item">
    2. <a routerLink="/async">Async Pipe, NgIfElse, Template Reference Variables</a>
  </li>
  <li class="list-group-item">
    3. <a routerLink="/targetlinks">Adding Target Links: Doesn't Work</a>
  </li>
  <li class="list-group-item">
    4. <a routerLink="/afterviewinit">ViewChildren, AfterViewInit, ElementRef: Target Links Work</a>
  </li>
  <li class="list-group-item">
    5. <a routerLink="/final">ViewChildren, AfterViewInit, ElementRef, Multiple Content Projection</a>
  </li>
</ul>
