<h1 class="text-center pb-4">Components: Life Beyond Init and Destroy</h1>

<ol class="list-group lead">
  <li class="list-group-item">
    1. <a routerLink="/start">Classic: Subscribe, OnInit, OnDestroy</a>
  </li>
  <li class="list-group-item">
    2. <a routerLink="/async">Improvements: Async, NgIfElse, Template Reference Variables</a>
  </li>
  <li class="list-group-item">
    3. <a routerLink="/targetlinks" fragment="parasaurolophus">Breaking Stuff: Anchor Scrolling doesn't work on page load</a>
  </li>
  <li class="list-group-item">
    4. <a routerLink="/afterviewinit" fragment="spinosaurus">Fixing Stuff: ViewChildren, AfterViewInit, ElementRef</a>
  </li>
  <li class="list-group-item">
    5. <a routerLink="/mcp">Multiple Content Projection</a>
  </li>
  <li class="list-group-item">
    6. <a routerLink="/onpush">Breaking Stuff: OnPush Change Detection</a>
  </li>
  <li class="list-group-item">
    7. <a routerLink="/onpush-refs">Fixing Stuff: Changing References with OnPush</a>
  </li>
  <li class="list-group-item">
    8. <a routerLink="/docheck">DoCheck Lifecycle Hook</a>
  </li>
  <li class="list-group-item">
    9. <a routerLink="/updates">Optimistic Updates with OnPush Components</a>
  </li>
</ol>
