<h1 class="text-center">Dinosaurs</h1>
<p class="text-center lead">
  Async Pipe with template reference variables, NgIfElse, and AfterViewInit
</p>

<ng-template #noDinos>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error"></app-error>
</ng-template>

<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <ul>
    <li
      *ngFor="let dino of dinoList"
      id="{{dino.name | lowercase}}"
      #dinoLoop>
      <a
        [routerLink]="['/dinos-final']"
        fragment="{{dino.name | lowercase}}"
        (click)="scrollToAnchor(dinoLoop)">{{dino.name}}</a>
    </li>
  </ul>
</div>
