<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">
      <!-- Content can be projected by selector -->
      <ng-content select="a"></ng-content>
      <ng-content select=".icon"></ng-content>
    </h5>
    <div class="card-text">
      <!-- Non-specific content can be projected -->
      <ng-content></ng-content>
    </div>
    <div class="card-text">
      <ul class="list-unstyled">
        <li><em>{{ dino.pronunciation }}</em> / "{{ dino.meaningOfName }}"</li>
        <li><strong>Lived:</strong> {{ dino.period }} ({{ dino.mya }} million years ago)</li>
        <li><strong>Diet:</strong> {{ dino.diet }}</li>
        <li><strong>Length:</strong> {{ dino.length }}</li>
      </ul>
    </div>
    <p class="card-text lead" [innerHTML]="dino.info"></p>
    <button
      *ngIf="!dino.favorite"
      class="btn btn-sm btn-outline-success"
      (click)="favDinosaur()">+Fav</button>
  </div>
</div>
