<h1 class="text-center">Optimistic Updates with OnPush</h1>
<p class="text-center lead">
  Optimistic updates with OnPush child components in an NgFor loop
</p>

<ng-template #noDinos>
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="errorList$ | async"></app-error>
</ng-template>

<ng-container *ngIf="dinoList$ | async as dinoList; else noDinos">
  <div
    *ngFor="let dino of dinoList; trackBy: trackByFn"
    id="{{ dino.name | lowercase }}"
    #dinoElement>
    <app-dino-content-fav
      [dino]="dino"
      (favBtnClicked)="onFavEvent($event)">
      <a
        routerLink="/updates"
        fragment="{{ dino.name | lowercase }}">{{ dino.name }}</a>
      <span class="icon" *ngIf="dino.favorite">🌟</span>
      <p *ngIf="dino.name === 'Giganotosaurus'" appHighlight>
        aka "Chickennuggetsaurus"
      </p>
    </app-dino-content-fav>
  </div>
</ng-container>
