<h1 class="text-center">Dynamic Templates I</h1>
<p class="text-center lead">
  Supporting more dynamic, flexible templates with multiple Content Projection
</p>

<ng-template #noDinos>
  <app-error *ngIf="error"></app-error>
  <app-loading *ngIf="loading"></app-loading>
</ng-template>

<!-- Featured dinosaur (not from API) -->
<h2 class="text-center">Featured</h2>
<app-dino-content [dino]="featuredDino">
  <a
    href="http://www.jpost.com/Israel-News/Israeli-geologists-find-unprecedented-85-million-year-old-reptile-remains-390633"
    target="_blank">
    {{ featuredDino.name }}
  </a>
  <span class="icon">🌊</span>
  <p class="highlight">
    An 85-million-year-old Elasmosaurus fossil was discovered in Israel.
  </p>
</app-dino-content>

<!-- List of dinosaurs from API -->
<h2 class="text-center pt-2">Dinosaurs</h2>
<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <div
    *ngFor="let dino of dinoList"
    id="{{dino.name | lowercase}}"
    #dinoElement>
    <app-dino-content [dino]="dino" (fav)="onFavEvent($event)">
      <a
        [routerLink]="['/mcp']"
        fragment="{{dino.name | lowercase}}">{{ dino.name }}</a>
      <span class="icon" *ngIf="dino.name === 'Parasaurolophus'">
        🌟
      </span>
      <p class="highlight" *ngIf="dino.name === 'Giganotosaurus'">
        GigaNOTosaurus (a theropod) should not be confused with GigANTosaurus (a sauropod).
      </p>
    </app-dino-content>
  </div>
</div>
