<p class="text-center lead">Async Pipe with template reference variables, NgIfElse, and AfterViewInit</p>

<ng-template #noDinos>
  <p *ngIf="loading" class="m-2 text-center">Loading...</p>
  <div *ngIf="error" class="alert alert-danger">
    An error occurred fetching dinosaurs data. Please try again.
  </div>
</ng-template>

<div *ngIf="dinoList$ | async as dinoList; else noDinos">
  <ul>
    <li *ngFor="let dino of dinoList" #dinoLoop>
      <div id="dino-{{dino.id}}">
        <a href="#dino-{{dino.id}}">{{dino.id}} {{dino.name}}</a>
      </div>
    </li>
  </ul>
</div>
